.history_top {
  background: rgba(47, 49, 62, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  height: 70px;
}

.history_main {
  background: rgba(47, 49, 62, 0.98);
  color: grey;
  overflow: hidden;
  height: calc(100% - 70px);
}

.history_element {
  margin: 10px 10px 10px 10px;
  padding: 5px;
  border:1px solid rgba(0, 0, 0, 0.219);
  background: rgba(161, 161, 161, 0.1);
}

.title_sold {
  color: rgba(255, 0, 0, 0.699);
  text-shadow: 2px 1px 10px #000;

}

.title_purchased {
  color: rgba(21, 255, 0, 0.493);
  text-shadow: 2px 1px 10px #000;
}