
/*
.main,
.history {
  padding: 0 !important;
}

.dashboard {
  min-height: 100vh;
}

.recharts-default-tooltip {
  background: black !important;
  color: white !important;
}




.history_element {
  padding: 20px 20px 0 20px;
}



.currency_chart svg {
  width: 500px !important;
  height: 500px !important;
}

.right {
  margin-right: 20px;
}

















.history_top {
  background: rgba(47, 49, 62, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
}

.dashboard {
  background: transparent;
  background-image: url('./new_york.jpg');
  background-size: cover; 
  -ms-background-size: cover; 
  -o-background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover;
}

.panel_wrapper {
  background: rgba(134, 54, 168, 0.8);
}

.main_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1em;
  padding: 40px;
}

*/
/*
.history_main {
  background: rgba(47, 49, 62, 0.98);
  color: grey;
  overflow: hidden;
}




.scrollbar-vertical {
  background-color: grey;
}

.icon {
  color: grey;
  margin: 0 auto;
  display: block !important;
}

.icon_logo {
  color: #24252b;
  fill: #ffffff;
  stroke: rgba(134, 54, 168, 0.98);
  stroke-width: 0.8;
  transform: scale(2.3);
}

.icon_logo path {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: dash 30s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.sign_out {
  transform: translateY(-50%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
*/