body {
  background: transparent;
  background-image: url('./new_york.jpg');
  background-size: cover; 
  -ms-background-size: cover; 
  -o-background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover;
}

html {
  background: #2f303e;
}

.main {
  height: 100vh;
}