body {
  background: transparent;
  background-image: url('./new_york.jpg');
  background-size: cover; 
  -ms-background-size: cover; 
  -o-background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover;
}


/*




.scrollbar-vertical {
  background-color: grey;
}

.icon {
  color: grey;
  margin: 0 auto;
  display: block !important;
}

.icon_logo {
  color: #24252b;
  fill: #ffffff;
  stroke: rgba(134, 54, 168, 0.98);
  stroke-width: 0.8;
  transform: scale(2.3);
}

.icon_logo path {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: dash 30s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.sign_out {
  transform: translateY(-50%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
*/